.inputs{
    margin-left: 42%;
    align-items: flex-start;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}
input[type=text],select{
    padding: 3px 40px;
    width: 100px;
    display:inline-block;
}
input[type=email],
select {
    padding: 4px 40px;
    width: 100px;
    display:inline-block;
}
